<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teams-Scosh</title>
    <link rel="icon" type="image/webp" href="/images/logo2.webp">
    <!-- For apple devices -->
    <link rel="apple-touch-icon" type="image/webp" href="/images/logo2.webp" />
    <meta name="description" content="Scosh website">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style-prev.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/fonts/CircularStdBold/font.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <style>
        @font-face {
            font-family: 'CeraPro-black';
            src: url("/fonts/CeraPro-Black.ttf") format("truetype");
            font-weight: bold;
            font-style: normal;
        }

        @font-face {
            font-family: 'CeraPro-bold';
            src: url("/fonts/CeraPro-Bold.ttf") format("truetype");
            font-weight: bold;
            font-style: normal;
        }

        @font-face {
            font-family: 'CeraPro-regular';
            src: url("/fonts/CeraPro-Regular.ttf") format("truetype");
            font-weight: 400;
            font-style: normal;
        }

        @font-face {
            font-family: 'CeraPro-Thin';
            src: url("/fonts/CeraPro-Thin.ttf") format("truetype");
            font-weight: 300;
            font-style: normal;
        }

        @font-face {
            font-family: 'CeraPro-medium';
            src: url("/fonts/CeraPro-Medium.ttf") format("truetype");
            font-weight: 500;
            font-style: normal;
        }

        a.dropdown-item {
            color: white;
        }

        #content div h1,
        #com-content div h1,
        .faq-head h1,
        h1.what {
            font-family: 'CeraPro-bold';
        }

        #content div p,
        #com-content div p {
            font-family: 'CeraPro-regular';
        }

        .link p,
        .link a,
        .collapsible,
        .later p,
        .content,
        #lady p,
        a.nav-link {
            font-family: 'CeraPro-medium';
        }

        .our-speaker-area {
            position: relative;
            z-index: 1;
        }

        .our-speaker-area .row {
            margin-left: -20px;
            margin-right: -20px;
        }

        @media only screen and (max-width: 767px) {
            .our-speaker-area .row {
                margin-left: -15px;
                margin-right: -15px;
            }
        }

        .our-speaker-area .row .col-12 {
            padding-left: 20px;
            padding-right: 20px;
        }

        @media only screen and (max-width: 767px) {
            .our-speaker-area .row .col-12 {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    </style>

</head>

<body>
    <img src="https://cdn.glitch.com/d93ac0f2-6959-4ef7-bff9-50e9478c9a16%2Ftop.webp?v=1605457699335"
        onclick="topFunction()" alt="" id="GoToTop">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top c25" id="mainNav"
        style="background-color: #080808f3 !important; overflow:visible;">
        <div class="container-fluid" style="padding-right:0; padding-left:0%;">
            <a class="navbar-brand" href="#" id="titleNav"
                style="color:#cbd1db; font-family: CeraPro-bold; font-size: 3.3em;">
                <img src="https://cdn.glitch.com/d93ac0f2-6959-4ef7-bff9-50e9478c9a16%2Flogo2.webp?v=1605457670241"
                    style="width: 2em;"> Team <%= team[0]['year']%></a>
            <!-- <a class="navbar-brand js-scroll-trigger navbar-title" href="#"><img src="images/Text-Logo.png" class="navbar-img"></a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                style="margin-left: 90%; border: none; margin-top: 0em;">
                <img style="width:50px; padding: 0px 0px; margin: 0px 0px; " src="/images/nav2.webp">
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto navbar-list">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#magazine">Magazine</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/blogs">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/events">Events & Workshop</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Teams
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                            style="background-color: #080808f3;">
                            <a class="dropdown-item" href="/team/2020-21">2020-21</a>
                            <a class=" dropdown-item" href="/team/2019-20">2019-20</a>
                            <a class="dropdown-item" href="/team/2018-19">2018-19</a>
                            <a class="dropdown-item" href="/team/2017-18">2017-18</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="team" id="team" style="padding-top: 20em; padding-bottom: 17em;">
        <div class="container">
            <div class="row" style="align-content: center;">
                <% for(var i=0; i < team[0]["Member"].length; ++i) { %>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="our-team">
                            <div class="picture">
                                <img class="img-fluid" src="<%=team[0]['Member'][i].image%>"
                                    style="width: 650px; height: 200px;">
                            </div>
                            <div class="team-content">
                                <h3 class="name">
                                    <%= team[0]['Member'][i].name %>
                                </h3>
                                <h4 class="title">
                                    <%= team[0]['Member'][i].position %>
                                </h4>
                            </div>
                            <ul class="social">
                                <% if(team[0]["Member"][i].facebook !="" ) { %>
                                    <li><a href="<%= team[0]['Member'][i].facebook %>" class="	fa fa-facebook-f"
                                            aria-hidden="true"></a></li>
                                    <% } %>
                                        <% if(team[0]["Member"][i].instagram !="" ) { %>
                                            <li><a href="<%= team[0]['Member'][i].instagram %>" class="fa fa-instagram"
                                                    aria-hidden="true"></a></li>
                                            <% } %>

                                                <% if(team[0]["Member"][i].gmail !="" ) { %>
                                                    <li><a href="mailto:<%= team[0]['Member'][i].gmail%>"
                                                            class="fa fa-google-plus" aria-hidden="true"></a></li>
                                                    <% } %>

                                                        <% if(team[0]["Member"][i].linkedin !="" ) { %>
                                                            <li><a href="<%= team[0]['Member'][i].linkedin %>"
                                                                    class="fa fa-linkedin" aria-hidden="true"></a></li>
                                                            <% } %>

                            </ul>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>


    </div>

    <div class="footer-outer">
        <div class="footer" id="contact">

            <div class="row footer-row footer-info">
                <div class="col-12" style="color: white;">
                    <a class="fa fa-map-marker" style="color: #cbd1db; padding-right: 1em"></a><a
                        href="https://goo.gl/maps/CXxQ8qv8wL958bqu9">Sardar Vallabhbhai National Institute of
                        Technology</a>
                </div>

            </div>
            <div class="row footer-row justify-content-around footer-social-links">
                <div class="col-sm-3 col-12">
                    <a href="https://www.facebook.com/scosh.svnit" target="_blank" style="color: white">Facebook</a>
                </div>

                <div class="col-sm-3 col-12">
                    <a href="https://twitter.com/scosh_svnit" target="_blank" style="color: white">Twitter</a>
                </div>

                <div class="col-sm-3 col-12">
                    <a href="mailto:svnit.scosh@gmail.com" target="_blank" style="color: white">Gmail</a>
                </div>

                <div class="col-sm-3 col-12">
                    <a href="https://www.instagram.com/" target="_blank" style="color: white">Instagram</a>
                </div>
            </div>
            <div class="col-12" style="color: white; font-size: 1.3em; text-align: center;">
                Copyright © 2021 Scosh NIT Surat
            </div>

        </div>

        <!-- <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> -->
        <script>
            $(".navbar-toggler").click(function () {
                $(this).toggleClass("btn-top");
                // $(".navbar-collapse").toggleClass("show");
                $(".nav-link").toggleClass("black");
            });
            $('.nav-link').click(function () {
                // $(".navbar-collapse").toggleClass("show");
                $(".nav-link").toggleClass("black");
                $('.navbar-toggler').toggleClass('btn-top');
            });
        </script>
        <script>

            window.onscroll = function () { scrollFunction(); scrollToTop(); };


            function scrollToTop() {
                mybutton = document.getElementById("GoToTop");

                if (document.body.scrollTop > 1000 || document.documentElement.scrollTop > 1000) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }

            function topFunction() {
                document.body.scrollTop = 0; // For Safari
                document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
            }



            function scrollFunction() {
                // var title = document.getElementById("titleNav");
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("mainNav").classList.remove("c25");
                    document.getElementById("mainNav").style.backgroundColor = "#000000 !important";
                    document.getElementById("mainNav").classList.add("shadowFix");
                    document.getElementById("mainNav").classList.add("c23");

                } else {
                    document.getElementById("mainNav").classList.add("c25");
                    document.getElementById("mainNav").classList.remove("shadowFix");
                    document.getElementById("mainNav").classList.remove("c23");
                }
            }

        </script>
</body>

</html>